.container {
  max-width: 375px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 667px) {
    max-width: 667px;
  }
  @media screen and (min-width: 834px) {
    max-width: 834px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1024px;
  }
}
