.logo {
  width: 139px;
  height: 47px;
  @media screen and (min-width: 1024px) {
    width: 281px;
    height: 95px;
  }
}
.container a:hover {
  color: blue;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  font-weight: 300;
  font-size: 12px;
  line-height: 14.4px;
  color: grey;
  @media screen and (min-width: 834px) {
    font-size: 24px;
    line-height: 28.8px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 24px;
    line-height: 28.8px;
  }
}
